<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <uses-permission android:name="android.permission.CALL_PHONE" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RodentsHelper"
        tools:targetApi="31"
        >

        <meta-data android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key"/>

        <activity
            android:name="com.gryzoniopedia.rodentshelper.ROOM.Rodent.ViewRodents"
            android:exported="false"
            android:icon="@drawable/ic_bin"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.gryzoniopedia.rodentshelper.ROOM.Vet.ViewVets"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gryzoniopedia.rodentshelper.MainViews.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gryzoniopedia.rodentshelper.MainViews.SplashScreen"
            android:exported="true"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name="com.gryzoniopedia.rodentshelper.MainViews.FirstStart"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.gryzoniopedia.rodentshelper.ROOM.Rodent.Methods.AddEditRodents"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.gryzoniopedia.rodentshelper.ROOM.Vet.Methods.AddEditVets"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.gryzoniopedia.rodentshelper.ROOM.Medicaments.ViewMedicaments"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.gryzoniopedia.rodentshelper.ROOM.Medicaments.Methods.AddEditMedicaments"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.gryzoniopedia.rodentshelper.ROOM.Visits.ViewVisits"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.gryzoniopedia.rodentshelper.ROOM.Visits.Methods.AddEditVisits"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.gryzoniopedia.rodentshelper.MainViews.ViewHealth"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.gryzoniopedia.rodentshelper.MainViews.ViewEncyclopedia"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.gryzoniopedia.rodentshelper.MainViews.ViewPetHealth"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.gryzoniopedia.rodentshelper.ROOM.Notes.ViewNotes"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.gryzoniopedia.rodentshelper.ROOM.Notes.Methods.AddEditNotes"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.gryzoniopedia.rodentshelper.MainViews.ViewOther"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.gryzoniopedia.rodentshelper.ROOM.Weights.WeightView"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.gryzoniopedia.rodentshelper.MainViews.GoogleMaps.GoogleMaps"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.gryzoniopedia.rodentshelper.Encyclopedia.Common.ViewCagesupplyAndTreats"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.gryzoniopedia.rodentshelper.Encyclopedia.Common.ViewGeneralAndDiseases"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.gryzoniopedia.rodentshelper.ROOM.Weights.WeightInfoTable"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.gryzoniopedia.rodentshelper.Notifications.NotificationsActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.gryzoniopedia.rodentshelper.DatabaseManagement.ActivityLogin"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.gryzoniopedia.rodentshelper.DatabaseManagement.ActivityRegister"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.gryzoniopedia.rodentshelper.DatabaseManagement.ActivityDatabaseManagement"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.gryzoniopedia.rodentshelper.ActivityAboutApp"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.gryzoniopedia.rodentshelper.ActivityProgressBar"
            android:exported="true"
            android:screenOrientation="portrait"/>


        <receiver
            android:name="com.gryzoniopedia.rodentshelper.Notifications.Receivers.NotificationReceiverWeight"
            android:enabled="true"
            android:exported="true">
        </receiver>

        <receiver
            android:name="com.gryzoniopedia.rodentshelper.Notifications.Receivers.NotificationReceiverFeeding"
            android:enabled="true"
            android:exported="true">
        </receiver>

        <receiver
            android:name="com.gryzoniopedia.rodentshelper.Notifications.Receivers.NotificationReceiverFeeding2"
            android:enabled="true"
            android:exported="true">
        </receiver>

        <receiver
            android:name="com.gryzoniopedia.rodentshelper.Notifications.Receivers.NotificationReceiverVisit"
            android:enabled="true"
            android:exported="true">
        </receiver>

        <receiver
            android:name="com.gryzoniopedia.rodentshelper.Notifications.Receivers.BootReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>

    </application>

</manifest>